<div class="card mb-4  shadow rounded-lg">
  <div class="card-body">

      <h5 class="card-title">Server Status</h5>
    <p class="card-text">
      ServerId:  <span class="badge badge-primary">{{server!.id}}</span>
    </p>
    <p class="card-text">
      <button  [ngClass]= "{
        'btn btn-danger': getServerStatus() ==='OFFLINE',
        'btn btn-success': getServerStatus() ==='ONLINE' }"
               (click)="toggleStatus()">
       Put {{ getServerStatus() ==='OFFLINE' ? 'Online' : 'Offline'}}
      </button>
    </p>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm">
          <div>{{ getServerStatus() }}</div>
      </div>
      <div class="col-sm">
        <button class="btn">
          <i class="bi bi-trash" (click)="onDelete(server!.id)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
